@font-face{
    font-family: nier;
    src: url('RodinNier.ttf');
}

@keyframes sitefade {
    0% { opacity: 0; }
    100% { opacity: 1; }    
}

.FadeIn {
    animation: siteFade 3s ease-in-out;
}

.headertxt {
    display: inline-block;
    background-color:  #4E4B46;
    background-size: 25px;
    border-radius: 30px;
    color: #CDC9AE;
    font-weight: bold;
    text-align: center;
    opacity: 0.4;
    animation: fadeinout 2.2s 0s forwards;
    animation-iteration-count:infinite;
}

.button{
    font-family: nier;
    font-size: 13pt;
    opacity: 0.6;
    display: inline-block;
    margin-top: 10px;
    padding: 15px 20px;
    color:  #CDC9AE;
    text-align: center;
    border-color: #4E4B46;
    background-color: #4E4B46;
}

@keyframes fadeinout {
    50% {opacity: 1;}
}

.button:hover {
    animation: fadeinout 2.2s 0s forwards;
    animation-iteration-count:infinite;
}

div{
    margin: 20px;
}

#main{
    font-family: nier;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    font-family: nier;
    text-align: center;
    scroll-margin-right: unset;
     /* Set rules to fill background */
    min-height: 100%;
    min-width: 460px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background-image: url('https://i.imgur.com/PmYI9Mu.jpg');
    background-size: cover;
    background-attachment: fixed;
    color:  #4E4B46;
}

select {
    display: inline-block;
    background-color:  #4E4B46;
    background-size: 25px;
    color: #CDC9AE;
    text-align: center;
    opacity: 0.8;
    animation: fadeinout 2.2s 0s forwards;
    animation-iteration-count:infinite;
}

.option {
    opacity: 0.8;
    animation: fadeinout 2.2s 0s forwards;
    animation-iteration-count:infinite;
}

option:hover {
    background-color: #4E4B46;
    opacity: 0.3;
    animation: fadeinout 2.2s 0s forwards;
    animation-iteration-count:infinite;
}

h1{
    display: inline-block;
    background-color:  #4E4B46;
    background-size: 25px;
    border-radius: 30px;
    color: #CDC9AE;
    text-align: center;
}

.iconbutton {
    width: 18px;
    height: 18px;
}

.inputValue {
    display: inline-block;
    background-color:  #4E4B46;
    background-size: 25px;
    color: #CDC9AE;
    text-align: center;
    opacity: 0.8;
    animation: fadeinout 2.2s 0s forwards;
    animation-iteration-count:infinite;
}

header{
    font-family: nier;
    border-radius: 20px;
    background-color: #4E4B46;
}